
.slide-container{
    margin:2rem auto;
    max-width: 1330px;

}
.each-fade{
    max-width: 1330px;
margin: auto;

}
.slide-container img{
height: 320px;
    width: 100%;
    max-width:1330px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
